.other-section {
  color: white;
  height: 100vh;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  /* line-height: 2rem; */
  justify-content: space-between;
  text-align: left;
  margin: 3rem 6rem;
  position: relative;
}

.interest-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60vw;
  justify-content: center;
  align-content: center;
}

.other-title {
  font-size: 9rem;
  justify-self: center;
  align-self: center;
  width: 30vw;
  padding-left: 2rem;
  padding-bottom: 6rem;
}

.interest-card {
  display: flex;
  justify-content: center;
  height: 20rem;
  width: 20.5rem;
  padding: 0;
  background-color: rgba(105, 86, 117, 0.329);
  margin: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  border: 1px solid rgb(92, 92, 96);
}

.interest-board div img {
  height: inherit;
  transform: translate3d(0px, 0, 0);
}

.interest-text-hide,
.interest-text {
  height: inherit;
  font-size: 2rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.824);
  color: white;
  width: inherit;
  line-height: 20vh;
  text-align: center;
  transform: translate3d(0, -20rem, 0);
  transition: 0.3s linear;
}

.interest-text {
  transform: translate3d(0, 0, 0);
}
