.other-section {
  color: white;
  height: 90vh;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: left;
  margin: 3rem 4rem;
  position: relative;
}

.interest-board {
  display: flex;
  flex-direction: row;
}

.other-title {
  font-size: 3rem;
}

.interest-card {
  display: flex;
  justify-content: center;
  width: 20.5rem;
  padding: 0;
  background-color: rgba(105, 86, 117, 0.329);
  margin: 0 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.Overwatch,
.Fortnite,
.Body-building {
  transition: transform 0.4s ease-in-out;
}

.Overwatch-text,
.Fortnite-text,
.Body-building-text {
  transform: translate3d(200px, 0, 0);
  transition: transform 0.3s ease-in-out;
  padding: 70px 130px;
  width: 20rem;
  font-size: 1.2rem;

  background: rgba(7, 7, 7, 0.815);
}
/* 
.interest-card:hover > .overwatch,
.interest-card:hover > .fortnite,
.interest-card:hover > .body-building {
  transform: translate3d(-100px, 0px, 0);
} */

.interest-card:hover > .Body-building-text {
  transform: translate3d(-110px, 0, 0);
}

.Overwatch {
  height: 13rem;
  transform: translate3d(180px, 0, 0);
}

.interest-card:hover > .Overwatch-text {
  transform: translate3d(-200px, 0, 0);
}

.interest-card:hover > .Fortnite-text {
  transform: translate3d(-81px, 0, 0);
}

.Body-building-text {
  transform: translate3d(220px, 0, 0);
}

.Overwatch-text {
  transform: translate3d(150px, 0, 0);
}

.Fortnite {
  height: 10rem;
  transform: translate3d(170px, 20px, 0);
}

.Fortnite-text {
  transform: translate3d(250px, 0px, 0);
}

.Body-building {
  height: 11rem;
  transform: translate3d(160px, 10px, 0);
}

footer {
  color: white;
  font-size: 1rem;
  bottom: 0;
  justify-self: end;
  align-self: end;
  position: absolute;
}
