.hamburger-wrapper {
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 11;
  position: absolute;
  top: 7rem;
  left: 50vw;
}
.hamburger {
  width: 40px;
  height: 6px;
  background: rgb(208, 208, 208);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 40px;
  left: 10px;
  height: 6px;
  background: rgb(208, 208, 208);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
.hamburger:before {
  top: -13px;
}
.hamburger:after {
  top: 13px;
}
.hamburger:hover,
.hamburger:hover::before,
.hamburger:hover::after {
  background: rgb(99, 61, 61);
}

.hamburger-wrapper.menu-active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5pc rgba(0, 0, 0, 0);
}

.menu-active {
  position: absolute;
  /* left: 49%; */
}

.hamburger-wrapper.menu-active .hamburger::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger-wrapper.menu-active .hamburger::after {
  top: 0;
  transform: rotate(135deg);
}

@keyframes pulse-2 {
  0% {
    box-shadow: 0 0 0 0 rgba(189, 155, 211, 0.367);
  }
  50% {
    box-shadow: 0 0 0 3.5px rgba(211, 130, 105, 0.134);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(157, 158, 158, 0);
  }
}
