.App {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100vh;
  display: grid;
  grid-template-rows: 100vh 100vh 100vh;
  text-align: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.background-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.about,
.work,
.other {
  scroll-snap-align: start;
}

section h1 {
  color: white;
}

.App-link {
  color: #61dafb;
}
