.name-logo {
  font-family: allura;
  color: aliceblue;
  text-align: left;
  margin: 0.8rem 1.5rem;
  position: absolute;
  width: max-content;
  font-size: 4rem;
}

@font-face {
  font-family: allura;
  src: url(../../assets/fonts/Allura-Regular.ttf);
}
