.about-section {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-content: center;
}

.about-header {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.about-title {
  align-self: start;
  font-size: 3.8rem;
  width: 24rem;
  height: 20rem;
  text-align: right;
  margin: 0;
}

.about-img {
  width: 10rem;
  z-index: 0;
}

.about-content {
  align-self: center;
  font-size: 1.3rem;
  line-height: 2rem;
  color: aliceblue;
  width: 30vw;
  margin-right: 4rem;
}
