.about-section {
  display: flex;
  min-height: 100vh;
  flex-direction: row-reverse;
  position: relative;
  z-index: -1;
}

.outer-education-container {
  flex-grow: 1;
  width: 50vw;
  border-left: 2px solid rgb(187, 187, 187);
}

.outer-experience-container {
  flex-grow: 1;
  width: 50vw;
  height: 100vh;
  color: white;
  border-right: 2px solid rgb(148, 148, 148);
}

.timeline-education-space::before {
  content: '';
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid rgb(121, 121, 121);
  background-color: rgb(42, 60, 77);
  position: absolute;
  border-radius: 50%;
  top: 2.5rem;
  left: -10.9rem;
  z-index: 3;
  animation: morphingLogo 5s linear infinite;
}

.timeline-education-space:nth-child(2)::before {
  top: 3rem;
}

.timeline-experience-space::before {
  content: '';
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid rgb(121, 121, 121);
  background-color: rgb(42, 60, 77);
  position: absolute;
  border-radius: 50%;
  top: 7.5rem;
  right: -11rem;
  z-index: 3;
  animation: morphingLogo 5s linear infinite;
}

.inner-education-container,
.inner-experience-container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: auto;
  margin-left: 7.5rem;
  padding-top: 20px;
  padding-bottom: 30px;
  max-width: 600px;
}

.inner-experience-container {
  margin-left: auto;
  margin-right: 7.5rem;
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.education-timeline,
.experience-timeline {
  position: relative;
  padding: 3rem 0;
}

.experience-timeline {
  padding: 5rem 0;
}

.education-timeline::before,
.experience-timeline::before {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
}

.timeline-education-group,
.timeline-experience-group {
  position: relative;
}

.timeline-education-group:not(:first-of-type) {
  margin-top: 7rem;
}

.timeline-experience-group:not(:first-of-type) {
  margin-top: 8rem;
}

.timeline-education-post,
.timeline-experience-post {
  position: relative;
  padding: 2rem 2rem;
  width: 32rem;
  border-radius: 0.5rem;
  border-right: 3px solid rgb(65, 65, 80);
  border-left: 3px solid rgb(65, 65, 80);

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  background-color: rgb(35, 35, 50);
  margin: 3rem 0;
}

.timeline-experience-post {
  padding: 2rem 0rem;
  max-width: 45rem;
  border-right: 3px solid rgb(65, 65, 80);
}

.timeline-education-post:not(:first-of-type) {
  margin-top: 10rem;
}

.timeline-education-post::after,
.timeline-education-post::before {
  content: '';
  width: 2rem;
  height: 2rem;
  border: 2px solid rgb(121, 131, 140);
  background-color: rgb(47, 54, 62);
  box-shadow: 1.5px 1.5px rgba(150, 149, 149, 0.345);
  border-radius: 50%;
  position: absolute;
  left: -1.1rem;
  top: 40%;
  z-index: 2;
}

.timeline-experience-post::after,
.timeline-experience-post::before {
  content: '';
  width: 2rem;
  height: 2rem;
  border: 2px solid rgb(121, 131, 140);
  background-color: rgb(47, 54, 62);
  box-shadow: 1.5px 1.5px rgba(150, 149, 149, 0.345);
  border-radius: 50%;
  position: absolute;
  right: -1.1rem;
  top: 40%;
  z-index: 2;
}

.timeline-education-post::before {
  width: 30% !important;
  height: 2px;
  transform: rotate(15deg);
  left: -10rem;
  top: 37%;
}

.timeline-experience-post::before {
  width: 32%;
  height: 2px;
  border-radius: 0;
  transform: rotate(15deg);
  right: -10rem;
  top: 7rem;
}

.timeline-education-end,
.timeline-education-start {
  padding: 0.5rem 1.5rem;
  color: rgb(247, 247, 247);
  background-color: rgb(45, 45, 55);
  z-index: 1;
  min-width: 5.8rem;
  font-size: 1.5rem;
  position: absolute;
  left: 0rem;
  bottom: 0;
}

.timeline-experience-end,
.timeline-experience-start {
  padding: 0.5rem 1.5rem;
  color: rgb(247, 247, 247);
  background-color: rgb(45, 45, 55);
  z-index: 1;
  min-width: 5.8rem;
  font-size: 1.5rem;
  position: absolute;
  right: 0rem;
  bottom: 0;
}

.timeline-experience-start {
  top: 0;
  height: max-content;
  min-width: 5.8rem;
  max-width: 6rem;
}

.timeline-education-start {
  top: 0;
  height: max-content;
  min-width: 5.8rem;
  max-width: 6rem;
}

.timeline-education-content {
  min-height: 8rem;
  margin-left: 5rem;
  text-align: start;
}

.timeline-experience-content {
  min-width: 25rem;
  min-height: 8rem;
  margin-right: 10rem;
  text-align: right;
}

.timeline-experience-content p:nth-child(2) {
  text-align: right;
  width: 10rem;
  margin: 1rem 0 0 auto;
}

.timeline-education-content p:nth-child(1),
.timeline-experience-content p:nth-child(1) {
  color: white;
  font-size: 2.5rem;
}

.timeline-experience-content p:nth-child(2),
.timeline-education-content p:nth-child(2) {
  color: rgb(174, 174, 174);
  font-size: 1.6rem;
  width: max-content;
  padding: 0 0.5rem;
  background-color: rgba(120, 120, 120, 0.427);
}

@keyframes morphingLogo {
  0% {
    filter: hue-rotate(-45deg);
  }
  50% {
    filter: hue-rotate(45deg);
  }
  100% {
    filter: hue-rotate(-45deg);
  }
}
