.row,
.col-lg {
  margin: 0 !important;
  padding: 0 !important;
}
.col-lg {
  height: 100vh;
  width: 100vw;
}
.col-lg.overlay {
  background: #262d3cd6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  animation: bounceOutUp 1s linear;
}
.col-lg.overlay-active {
  opacity: 1;
  animation: bounceInDown 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 10;
}
.overlay h1,
.overlay-active h1 {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: Poppins;
  font-weight: 800;
  color: #d5d5d5;
}
ul {
  position: absolute;
  top: 35%;
  left: 51%;
  transform: translate(-50%, -50%);
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 0.4rem 0.9rem;
  margin: 2rem 0;
  width: max-content;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #a9a6a9;
  cursor: pointer;
  overflow: hidden;
  letter-spacing: 4px;
  position: relative;
  transition: all 0.6s ease;
  border-radius: 0.5rem;
}

li::before {
  background-color: rgb(70, 58, 75);
  content: '';
  width: 100%;
  height: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
  transition: all 0.6s ease;
}

li:hover::before {
  height: 300%;
  width: 110%;
}

ul li a {
  text-decoration: none;
  color: aliceblue;
}

.tab-active {
  background: rgb(53, 58, 75);
}
.tab-active:hover {
  background: rgb(63, 69, 89);
}
.overlay-active:before {
  content: '';
  height: 300%;
  /* left: 50%; */
  opacity: 0.48;
  position: fixed;
  top: -110%;
  /* width: 300%; */
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceOutUp {
  0% {
    opacity: 0.48;
    z-index: inherit;
  }
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  65% {
    transform: translate((0, -800px, 0));
  }
  to {
    opacity: 0;
    z-index: -1;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

.navbar {
  position: absolute;
  background-color: rgba(41, 2, 2, 0.523);
  top: 0;
  transition: top 0.4s ease-in-out;
  width: 100vw;
}

.navbar-hide {
  top: -5.4rem;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 100vw;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 100vw;
  }
}
