.contact-section,
.contact-section-hide {
  position: absolute;
  right: 0;
  top: 10rem;
}

.contact-section {
  height: 10rem;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.5s ease-in-out;
}

.contact-section-hide {
  transform: translate3d(0, -4rem, 0);
  transition: 0.4s linear;

  height: 0;
  opacity: 0;
  z-index: -2;
}

.fa-github-square,
.fa-discord,
.fa-mobile-alt,
.fa-envelope-square,
.fa-linkedin {
  font-size: 3.5rem;
  margin: 1rem 2rem 1rem 0rem;
  color: rgb(90, 107, 120);
  /* border-radius: 50%; */
  color: rgb(84, 84, 84);

  cursor: pointer;
  padding: 0;
  text-shadow: 0.5px 0.5px rgb(179, 179, 179);
}

.fa-address-book,
.fa-chevron-up {
  top: 0.5rem;
  z-index: 10;
  right: 0;
  position: absolute;
  font-size: 3rem;
  margin: 1rem 2rem 1rem 0rem;
  transition: 0.2s linear;
  color: rgba(208, 208, 208, 0.434);
  cursor: pointer;
}

.fa-address-book:hover,
.fa-chevron-up:hover {
  color: rgb(196, 196, 196);
}

.fa-github-square:hover,
.fa-discord:hover,
.fa-mobile-alt:hover,
.fa-envelope-square:hover,
.fa-linkedin:hover {
  color: rgb(90, 107, 120);
}

.contact_icon-tooltip {
  position: relative;
}

.tooltip {
  color: white;
  position: absolute;
  letter-spacing: 2px;
  border-radius: 0.5rem;
  right: 10rem;
  font-family: gruppo;
  font-size: 1.4rem;

  width: max-content;
  /* animation: slideInRight 0.3s ease-in-out; */
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@font-face {
  font-family: gruppo;
  src: url(../../assets/fonts/Gruppo-Regular.ttf);
}
